.button {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  padding: 6px 18px;
  border-radius: 2px;
  background: #21c2eb;
  border: 1px #21c2eb solid;
  color: #fff;
  transition: all 0.2s;
}

.button:disabled {
  opacity: 0.5;
}

.button:hover {
  background: #14b6df;
  border-color: #14b6df;
}

.button_tiny {
  font-size: 12px;
  line-height: 22px;
  padding: 0 8px;
}

.button_white {
  background: #fff;
  border: 1px #14b6df solid;
  color: #14b6df;
}

.button_white:hover {
  background: #14b7df22;
}

.button_white:disabled:hover {
  background: #fff;
}
