.root {
  width: 300px;
  border: 1px #dedede solid;
  padding: 20px;
  border-radius: 4px;
  font-family: Roboto, Arial, sans-serif;
  margin: 15vh auto 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0.5em 0 1em;
  font-size: 22px;
  color: #333;
}

.text {
  margin: 0 0 1em;
  font-size: 16px;
  color: #333;
}

.input {
  background: #fff;
  font-size: 16px;
  line-height: 1.8em;
  padding: 6px 12px;
  border-radius: 2px;
  margin-bottom: 10px;
  transition: all 0.2s;
}

.input:disabled {
  opacity: 0.5;
}

.input {
  background: #fff;
  color: #333;
  border: 1px #999 solid;
}

.button {
  margin: 10px 0;
}

.error {
  margin: 0;
  color: #dd025d;
}
