.root {
  margin-bottom: 10px;
}

.list {
  width: 100%;
  margin: 0;
  display: table;
  border-collapse: collapse;
  border: 1px #efefef solid;
}

.item {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: Roboto, Arial, sans-serif;
  line-height: 28px;
  display: table-row;
}

.item > * {
  padding-right: 10px;
  display: table-cell;
  border-bottom: 1px #efefef solid;
  padding: 20px;
}

.item > *:first-child {
  background: #efefef;
  border-bottom-color: #fff;
}

.date {
  white-space: nowrap;
  display: block;
  margin: 0;
  opacity: 0.6;
}

.id {
  opacity: 0.3;
  font-size: 70%;
}

.review {
  font-size: 120%;
  color: #333;
}
