.root {
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 15px;
  display: flex;
}

.label {
  line-height: 42px;
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
}

.select {
  position: relative;
  opacity: 1;
  visibility: visible;
  min-width: 8em;
  flex: 1;
}

.select_disabled {
  composes: select;
  opacity: 0.8;
  pointer-events: none;
}

.select__pretty {
  border: 1px #14b6df solid;
  color: #14b6df;
  background: #fff;
  border-radius: 2px;
  font-size: 16px;
  line-height: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
  padding: 0 20px 0 6px;
  border-radius: 2px;
  white-space: nowrap;
  text-align: center;
  transition: all 0.2s;
}

.select:hover .select__pretty {
  background: #e2f5fa;
}

.select__pretty::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #14b6df;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  margin-top: 2px;
}

.select__prettysign {
  display: inline-block;
}

.select__native {
  font-size: 16px;
  line-height: 42px;
  height: 42px;
  width: 100%;
  background: none;
  border: none;
}

.select__native:focus {
  /* outline: none; */
}

.select__focus {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px #14b6df solid;
  z-index: 2;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}

.select__native:focus ~ .select__focus {
  opacity: 1;
}

.all {
  display: inline-block;
  border-left: 1px #efefef solid;
  height: 42px;
  margin: 0 0 0 30px;
  padding-left: 30px;
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.all_hidden {
  composes: all;
  opacity: 0;
}
