.root {
  display: flex;
  border-bottom: 1px #ccc solid;
  padding: 10px;
  justify-content: space-between;
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 30px;
  line-height: 28px;
  background: #efefef;
}

.header {
  font-size: 18px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.name {
  font-size: 14px;
  text-align: right;
  flex: 1;
  font-style: italic;
  margin: 0 1em;
  padding: 0;
}
