.root {
  display: inline-block;
  margin: 0 10px 0.2em 0;
  white-space: nowrap;
  border-radius: 15px 0 0 15px;
  border: 1px #efefef solid;
  position: relative;
  padding: 0 0.5em 0 0.5em;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  cursor: pointer;
  transition: all 0.2s;
}

.root[data-value="0"]::before {
  content: "😑";
  filter: grayscale(1);
  opacity: 0.7;
  font-size: 14px;
}

.root[data-value="-1"]::before {
  content: "😡";
  font-size: 14px;
}

.root[data-value="1"]::before {
  content: "🙂";
  opacity: 0.8;
  font-size: 14px;
}

.root:hover {
  border-color: #ddd;
}

.root_filtered {
  composes: root;
  border-color: #ccc;
  background: #ddd;
  cursor: default;
}

.root_filtered:hover {
  border-color: #ccc;
}
